
* {

    margin: 0;
    padding: o;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;


background-color: darkgreen;

}
.sign-up-box{

max-width: 500px;
width: 100px;
background: linear-gradient(to right #1e40af,#7c3aed);
border-radius: 16px;
padding: 32px;
box-shadow: 0 25px 50px;
}

h2 {

text-align: center;
font-size: 40px;
font-weight: 800;
color: aqua;
margin-bottom: 10px;
}


}