.sign-up-box {
text-align: center;
color: chartreuse;






}


.feild{
box-sizing: border-box;
margin: 10px;
padding: 20px;
;
width: 50vh;
height: 300px

color: aqua;
background-color: rgb(235, 9, 9);
border-radius: ;display: grid;




}


.button{

border-radius: 3px;
margin: 5px;
padding: 5px;
color: darkgreen;

border: 10px solid purple;
}




